<section class="section-login">
    <div class="row">
        <div class="book">
            <div class="book__form">
                <form action="#" class="form" [formGroup]="loginForm">
                    <div class="u-margin-bottom-medium">
                        <h2 class="heading-secondary">
                            LogIn
                        </h2>
                    </div>
                    <div>
                        <mat-form-field class="input-field">
                            <mat-label>Username</mat-label>
                            <input matInput required formControlName="username">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="input-field">
                            <mat-label>Password</mat-label>
                            <input matInput required type="password" formControlName="password">
                        </mat-form-field>
                    </div>
        
                    <div id="controls" class="row">
                        <button
                            [disabled]="loginForm.invalid"
                            (click)="submit()"
                            mat-flat-button color="primary">
                            Login
                        </button>
                    </div>
                    <a routerLink="/auth/register" class="btn-text">Register</a>
                </form>
            </div>
        </div>
    </div>
</section>

