<div id="profile" *ngIf="isUserDataLoaded">
    <div class="header"></div>
      <div  class="bg-text">
        <img  class="profile-image" [src]="formatImage(userProfileImage) || 'https://img.icons8.com/ios/512/no-camera.png'" alt="user image">
        <div>{{user.username}}</div>
        <h3 class="bg-text__name">{{user.firstname}} {{user.lastname}}</h3>
        <div>
          <button mat-button color="primary">Follow</button >
          <button mat-button color="accent">Send Message</button >
        </div>
      </div>
  
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="{{ 'home.tab.about' | translate }}">
        <app-user-about-section [userData]="user"></app-user-about-section>
      </mat-tab>
      <mat-tab label="{{ 'home.tab.myWorks' | translate }}">
        <app-user-music-works-section [userData]="user"></app-user-music-works-section>
      </mat-tab>
      <mat-tab label="{{ 'home.tab.myPosts' | translate }}">
        <app-user-posts-section [userData]="user"></app-user-posts-section>
      </mat-tab>
    </mat-tab-group>
  </div>
